reCenter.VC.db
bin/ssleay32.dll
bin/reCenter.lib
bin/reCenter.ipdb
bin/reCenter.iobj
bin/reCenter.exp
bin/reCenter.exe
bin/ofxKinectForWindows2Lib.lib
bin/libeay32.dll
bin/glut32.dll
bin/freetype.dll
bin/fmodexL.dll
bin/fmodex.dll
bin/assimp.dll
bin/Zlib.dll
bin/FreeImage.dll
obj/
bin/data/Istwen.mov
